@import 'tailwindcss';

@layer base {
  *::selection {
    color: #141414;
    background: #fcfcfc;
  }

  :root {
    --background: #141414;
    --foreground: #fcfcfc;
    -webkit-background-color: #141414;
    --header-row-height: 44px;
    --header-height: calc(var(--header-row-height) * 2);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, Helvetica, sans-serif;
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
  }

  input,
  option,
  textarea,
  select {
    outline: none;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: #141414;
  --color-background-contrast: #202020;
  --color-black: #1d1d1f;
  --color-white: #fcfcfc;
  --color-background-contrast-white: #f5f5f7;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1.0625rem; /* 17px */
  --text-lg: 1.1875rem; /* 19px */
  --text-xl: 1.3125rem; /* 21px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2.5rem; /* 40px */
  --text-5xl: 4.5rem; /* 72px */

  --leading-xs: 1.4;
  --leading-sm: 1.45;
  --leading-base: 1.5;
  --leading-lg: 1.21;
  --leading-xl: 1.25;
  --leading-2xl: 1.3;
  --leading-3xl: 1.35;
  --leading-4xl: 1.1;
  --leading-5xl: 1.05;

  --animate-carousel-move: carousel-move var(--duration, 200s) linear infinite;
  --animate-carousel-move-reverse: carousel-move var(--duration, 200s) linear
    infinite reverse;
  @keyframes carousel-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Style for Button Component */
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
    alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;

  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  /* style for blog page bacgrkound component */
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s)
    infinite;

  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

@layer utilities {
  .webdev-transition {
    @apply transition-colors;
    @apply duration-1000;
  }

  /* Partnership Carousel  */
  .fadeout-horizontal {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 5rem,
      black calc(100% - 5rem),
      transparent
    );
  }

  .marquee {
    max-width: 1800px;
    --speed: 100s;
    --single-slide-speed: calc(var(--speed) / var(--numItems));
    --item-width: 250px;
    --track-width: calc(var(--item-width) * calc(var(--numItems)));
  }
  .marquee-track {
    container-type: inline-size;
    grid-template-columns: var(--track-width) [track] 0px [resting];
  }
  .marquee-item {
    grid-area: resting;
    animation: marquee-move var(--speed) 5s linear infinite
      var(--direction, forwards);
    animation-delay: calc(
      var(--single-slide-speed) * var(--item-position) * -1
    );
    width: var(--item-width);
  }

  @keyframes marquee-move {
    to {
      transform: translateX(calc(-100cqw - 100%));
    }
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .feature-video {
    @apply w-full h-full object-cover;
  }

  .feature-video-container {
    @apply w-full flex flex-col md:flex-row gap-5 items-center;
  }
}
